{
    margin: 0%;
    padding:0%;
}
.corpo_site {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 206, 213);
}
.cabeçalho {
    text-align: center;
}
.cabeçalho_titulo {
    font-size: 100px;
}
.cabeçalho_subtitulo {
    font-size: 40px;
}
.introdução {
    text-align: center;
    text-align: justify;
    padding: 15px;
}
.paragrafo-introdução {
    font-size: 30px;
    text-align: center;
}
.foto_turma {
    width: 100%;
}
.paginassecundarias {
    display: inline-block;
    font-size: 20px;
}