.cabeçalho{
    color: black;
    background-color: lightpink;
    justify-content: center;
}

.paragrafo-introdução{
    color: black;
    background-color: rgb(248, 193, 206);
}
.lista_paginas_secundarias{
    display:inline-block
}
.corpo_pagina{
    background-color: rgba(247, 174, 174, 0.726);
}